<%- include('partials/header') -%>


<div class="row comment-respond">

    <!-- START respond -->
    <div id="respond" class="column">

        <h3>
            Add new Post.
        </h3>

        <form id="formCompose" method="post" action="/" autocomplete="off">
            <fieldset>

                <div class="form-field">
                    <input name="title" id="title" class="h-full-width" placeholder="Post Title"  type="text">
                </div>

                <div class="form-field">
                    <input name="imageUrl" id="imageUrl" class="h-full-width" placeholder="Post Image URL" type="text">
                </div>

                <div class="form-field">
                    <input name="author" id="author" class="h-full-width" placeholder="Post Author" type="text">
                </div>

                <div class="form-field">
                    <input name="date" id="date" class="h-full-width" placeholder="Post Date" type="text">
                </div>

                <div class="message form-field">
                    <textarea name="description" id="description" class="h-full-width" placeholder="Post Description"></textarea>
                </div>

                <div class="message form-field">
                    <textarea name="content" id="editor" class="h-full-width"></textarea>
                </div>
<!--                <input type="hidden" name="htmlContent" id="htmlContent">-->
                <input  class="btn btn--primary btn-wide btn--large h-full-width"
                       value="Add New Post" type="submit">

            </fieldset>
        </form> <!-- end form -->





    </div>
    <!-- END respond-->

</div> <!-- end comment-respond -->

</div> <!-- end comments-wrap -->



<%- include('partials/footer') -%>